
body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
}

#searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.movie-card {
  background-color: #1c1c1c;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.movie-card img {
  max-width: 100%;
  border-radius: 10px;
}

.movie-card h3 {
  margin: 10px 0 5px;
}

.download-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
